/* Universal selector that applies a border-box to the entire webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Element selector that applies a background color to the body of the webpage */
body {
    background-color: #d9dcd6;
}
/* Element selector that applies style to everything within the header tags. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Element tag selector that applies color and text-decoration to anything with an <a> tag */
a {
    color: #ffffff;
    text-decoration: none;
}
/* ID img tag selector that applies style to the img with the id="meeting-img" */
#meeting-img img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}
/* Class selector that applies style to everything within the class=".content" */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Class selectors to apply style to the articles within the class="content-info" */
.content-info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-info img {
    max-height: 200px;
    float:left;
    margin-right: 25px;
}

.content-info h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Element selector that applies style to everything within the <p> tag */
p {
    font-size: 16px;
}
/* ID img selector that applies style only to the img located within the online-reputation-management ID */
#online-reputation-management img {
    float: right;
    margin-left: 25px;
    margin-right: 0;
}
/* Class selector that applies style to everything within the benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Class selectors to apply style to the articles within the class "benefit-info" */
.benefit-info {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-info h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-info img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Element selector to apply style to the footer  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* ID selector to adjust the font of Made with ❤️️ by Horiseon */
 #made-with {
    font-size: 20px;
    font-weight: bold;
    
}

